.hero .first{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  font-size: 30px;
  justify-content: center;
}

.hero h4 a{
    color: aliceblue;
    text-decoration: none;
    background-color: blue;
    width: 250px;
    border-radius: 10px;
}

.footer{
    padding: 20px;
    width: 800px;
    text-align: center;
    font-size: 14px;
    color: #666;
    margin-left: 200px;
}

.footer a{
    color: #ffff;
    text-decoration: none;
    padding: 10px 5px;
}

*mediaquery{
    max-width: 768px;   
   }